

<div ng-show="!first">
    <div class="col-md-4">
        <input class="form-control" type="text" ng-model="item.ValueA" />
    </div>
    <div class="col-md-2">
        <select class="form-control" ng-options="item.Value as item.Description for item in Comparators" ng-model="item.Comparator"></select>
    </div>
    <div class="col-md-4">
        <input class="form-control" type="text" ng-model="item.ValueB" />
        
    </div>    
    <div class="col-md-2">
        <button class="btn">Remove Rule</button>
        <button class="btn" ng-show="!item.Rules" ng-click="AddCondition()">Add Group</button>
    </div>
</div>

<div class="row">

    <div class="col-md-2 text-right">
        <span ng-show="item.Rules && item.Rules.length > 1">
            {{OperatorDescriptions[item.Operator]}}
        </span>
    </div>

    <div class="col-md-10" style="border-left:solid 1px #000;border-right:solid 1px #000;border-collapse:collapse">

        <div ng-repeat="rule in item.Rules">
            <condition item="rule" first="false"></condition>
        </div>

        <button class="btn" ng-show="item.Rules" ng-click="AddCondition()">Add Rule</button>

    </div>
</div>