<p *ngIf="!check || !checkSuites"><em>Loading...</em></p>

<div *ngIf="check && checkSuites" class="container">

    <h1>{{check.systemName}}</h1>

    <pre>{{check | json}}</pre>
   
    <form #checkForm="ngForm">

        <div class="form-group">
            <label>Check Id</label>
            <span class="form-control">{{ check.checkId }}</span>
        </div>

        <div class="form-group">
            <label for="checkSuiteId">Check Suite</label>
            <select class="form-control" id="checkSuiteId" aria-describedby="checkSuiteIdHelp"
                    required
                    [(ngModel)]="check.checkSuiteId" name="checkSuiteId">
                <option *ngFor="let suite of checkSuites" [value]="suite.checkSuiteId">{{ suite.suiteName }}</option>
            </select>
            <small id="checkSuiteIdHelp" class="form-text text-muted">Which suite of tests this belongs to.</small>
        </div>

        <div class="form-group">
            <label for="systemName">System Name</label>
            <input type="text" class="form-control" id="systemName" aria-describedby="systemNameHelp" 
                   required 
                   [(ngModel)]="check.systemName" name="systemName">
            <small id="systemNameHelp" class="form-text text-muted">A meaningful name for the test.</small>
        </div>

        <div class="form-group">
            <label for="checkDisabled">Disabled</label>
            <input type="checkbox" class="form-control" id="checkDisabled" aria-describedby="disabledHelp"
                   [(ngModel)]="check.disabledChecked" name="checkDisabled">
            <small id="disabledHelp" class="form-text text-muted">Temporarily disable a test.  Effective as of next run time.</small>
        </div>

        <div class="form-group">
            <label>Settings</label>
            <dictionary-editor [dictionary]="check.settings"></dictionary-editor>
        </div>

        <div class="form-group">
            <label>Triggers</label>
            <pre>{{ check.triggers | json }}</pre>
        </div>
        
        <div class="form-group">
            <label>Outcomes</label>
            <div *ngFor="let outcome of check.outcomes">
                <outcome-editor [outcome]="outcome"></outcome-editor>
            </div>
        </div>

        
        
        <pre>{{ check.outcomes | json }}</pre>
    </form>

</div>
