<select class="form-control" ng-model="Mode">
    <option value="all">All (*)</option>
    <option value="unspecified">Unspecified (?)</option>
    <option value="specific">Specific (,)</option>
    <option value="range">Range (-)</option>
    <option value="offsetIncrement">Offset increment (/)</option>
</select>

<div ng-show="Mode == 'specific'">
    <select class="form-control" ng-model="Specific" multiple="multiple">
        <option>0</option>
        <option>1</option>
        ...
    </select>
</div>

<div ng-show="Mode == 'range'">
    <input class="form-control" type="text" ng-model="From" /> -
    <input class="form-control" type="text" ng-model="To" />
</div>

<div ng-show="Mode == 'offsetIncrement'">
    Offset from 0 : <input class="form-control" type="text" ng-model="Offset" /> -
    Increment : <input class="form-control" type="text" ng-model="Increment" />
</div>


<button ng-click="updateValue()">Update</button>