<!DOCTYPE html>
<html ng-app="systemCheckerApp">
<head>
    <meta charset="utf-8" />
    <title>System Checker</title>
    <link rel="stylesheet" href="lib.css" />
    <base href="/" />
</head>
<body ng-cloak>
    <div class="container" ng-controller="systemCheckerController">

{{Checks}}

        <ul ng-repeat="check in Checks track by $index">
            <li class="well">
                <p>
                    <label class="control-label">Check Name </label>
                    <input class="form-control" type="text" ng-model="check.SystemName" />
                </p>
                <p>
                    <label class="control-label">Description </label>
                    <textarea class="form-control" ng-model="check.Description"></textarea>
                </p>

                <p>
                    <label class="control-label">Triggers </label>
                    <ul ng-repeat="trigger in check.Triggers track by $index">
                        <li>
                            {{trigger.CronExpression}}
                            <cron-expression expression="trigger.CronExpression"></cron-expression>
                        </li>
                    </ul>
                </p>
                
                <p>
                    <label class="control-label">Outcomes </label>
                    <ul ng-repeat="outcome in check.Outcomes track by $index">
                        <li>
                            <outcome item="outcome"></outcome>
                        </li>
                    </ul>
                </p>

            </li>
        </ul>

    </div>

    

    <script src="lib.js"></script>
    <script src="app.js"></script>

</body>
</html>